
.select-block label,
.select-block select,
.input-block label, .textarea-block label {
    font-size: 1.5rem;
    color: var(--color-text-complement)
}
.select-block option, .select-block select {
    font-size: 2rem
}
.input-block input,
.select-block select, .textarea-block textarea {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem 0.8rem 0 0;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Archivo;
}
.textarea-block textarea {
    padding: 1.2rem 1.6rem;
    height: 16rem;
    resize: vertical;
}

.input-wrapper {
    position: relative;
    width: 100%;    
}

.input-wrapper #label-avatar{
    margin: 0.8rem auto;
    height: 6rem;
    background: var(--color-input-background);  
    border: 3px dashed var(--color-line-in-white);
    padding: 1.6rem;
    border-radius: 0.8rem;
    display: block;
    width: 100%;
    cursor: pointer;
}

.input-wrapper input[type=file] {
    display: none;
}
.input-wrapper span {
    left: 1.6rem;
    top: 5.0rem;
    position: absolute;

}
/* The container must be positioned relative: */
.custom-select {
    position: relative;
    margin-top: 10px;
    margin-bottom: 0;
}

.custom-select select {
    height: 20px;
    display: none;
    /*hide original SELECT element: */
}

.select-selected {
    display: flex;
    align-items: center;
    height: 5.6rem;
    background-color: #f8f8fc;
    border-radius: 0.8rem 0.8rem 0 0;
}

/* Style the arrow inside the select element: */

.select-selected:after {
    position: absolute;
    content: "";
    background: url('/images/icons/arrow-down.svg') no-repeat;
    background-size: 15px 15px;
    top: 33px;
    right: 10px;
    width: 15px;
    height: 15px;
    border: 6px solid transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
    background: url('/images/icons/arrow-up.svg') no-repeat;
    top: 30px;
    right: 10px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    padding: 10px;

}

/* Style items (options): */
.select-items {
    position: absolute;
    background-color: #f8f8fc;
    top: 100%;
    border-left: 2px solid #3a3a3a;
    left: 0;
    right: 0;
    z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: #ebebf5;
    transition: background .3s;
}

