* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
}

body {
    display: flex;
    background-color: var(--color-background);
    align-items: center;
    justify-content: center;
}

body, input, button, textarea {
    font: 500 1.6rem Poppins;
    color: var(--color-text-base);
}
@media (min-width: 700px) {
    :root {
        font-size: 62.5%
    }
}

.dark {
    position:fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
    background:#0C9 url('/images/brightness/light-lamp.svg') no-repeat center;
    background-size: 30px 30px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    cursor: pointer;
}
.light {
    position:fixed;
	width: 60px;
	height: 60px;
	bottom: 20px;
	right: 20px;
    background:#0C9 url('/images/brightness/dark-lamp.svg') no-repeat center;
    background-size: 30px 30px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    cursor: pointer;
}